<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="PokeClean is a tool that allows you not only to select more than one pokémon to send to the professor, but also lets you clean up your items very easily." />
<meta name="keywords" content="Pokemon Go, Pokemon, Clean, Items, Niantic, Nintendo" />
<meta name="author" content="PokeClean" />
<meta name="google-site-verification" content="Bkw1e2oAVPyzwG_EOCC_C2OPF5at7qQXNy9VVdNyo0M" />
<link rel="stylesheet" th:href="@{/css/w3.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}
</style>
<script type='text/javascript'>
(function(w) {
if(navigator.userAgent.match(/iPhone|iPod|iPad|Android/i)==null)return;
var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('style'),j=d.createElement('script'),k=d.createElement('script');
s.setAttribute('rel','mw-page-block');s.innerHTML='body > * {display:none !important}';
j.setAttribute('src','//cdn.adsoptimal.com/advertisement/settings/37108.js');
k.setAttribute('src','//cdn.adsoptimal.com/advertisement/dispatcher.js');
j.onerror=k.onerror=function(){h.removeChild(s);h.removeChild(j);h.removeChild(k);};
h.appendChild(s);h.appendChild(j);h.appendChild(k);
})(window);
</script>
<script type='text/javascript'>
	(function(w) {
		var d = document, h = d.getElementsByTagName('head')[0], j = d
				.createElement('script'), k = d.createElement('script');
		j.setAttribute('src',
				'//cdn.adsoptimal.com/advertisement/settings/37108.js');
		k.setAttribute('src', '//cdn.adsoptimal.com/advertisement/manual.js');
		h.appendChild(j);
		h.appendChild(k);
	})(window);
</script>
</head>
<body class="w3-light-grey">

	<!-- Top container -->
	<div class="w3-container w3-top w3-black w3-large w3-padding"
		style="z-index: 4">
		<a th:href="@{/}"><span class="w3-right">PokeClean</span></a>
	</div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left: 5px; margin-top: 43px;">

		<div layout:fragment="contentnonav" class="bs-docs-section" id="main"
			role="main"></div>
			
		<br />
			<div class="adsoptimal-slot" style="width: 320px; height: 50px;"></div>
		<br />
		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-grey">
			<h4>PokeClean</h4>
			<p>
				&#169; 2016 by PokeClean. ALL RIGHTS RESERVED. <br />
				<br /> Thanks to <a class="white-text"
					href="https://github.com/Grover-c13/PokeGOAPI-Java" target="_blank">PokeGOAPI-Java</a>
				&amp; <a class="white-text"
					href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
				&amp; <a href="https://icons8.com" target="_blank">Icons8</a>.
			</p>
			<a href="https://twitter.com/PokeClean" class="twitter-follow-button" data-show-count="false">Follow @PokeClean</a><script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<br/>
			<a href="https://www.reddit.com/r/pokemongodev/comments/4w0bsb/implementation_pokecleancom_clean_up_your_pok%C3%A9mon/"><i class="fa fa-reddit"></i> Give me some Feedback!</a>
			<br/><br/>
			<p>Any donation is necessary to run the server at a stable level.</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="F7V46SETDRHRY" />
			<input type="image" src="https://www.paypalobjects.com/de_DE/CH/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal." />
			<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
			</form>
		</footer>
	</div>
	<!-- !PAGE CONTENT! -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	
	<script>
		$(document).ready(function() {
			document.getElementById('google').style.display = "none";
			$("#accountType").change(function() {
				if ($("#accountType option:selected").val() == "1") {
					document.getElementById('google').style.display = "none";
					document.getElementById('ptc').style.display = "block";
				} else {
					document.getElementById('ptc').style.display = "none";
					document.getElementById('google').style.display = "block";
				}
			});
		});
	</script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41119278-7', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

