<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="PokeClean is a tool that allows you not only to select more than one pokémon to send to the professor, but also lets you clean up your items very easily." />
<meta name="keywords" content="Pokemon Go, Pokemon, Clean, Items, Niantic, Nintendo" />
<meta name="author" content="PokeClean" />
<meta name="google-site-verification" content="Bkw1e2oAVPyzwG_EOCC_C2OPF5at7qQXNy9VVdNyo0M" />
<link rel="stylesheet" th:href="@{/css/w3.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}
</style>
</head>
<body class="w3-light-grey">

	<!-- Top container -->
	<div class="w3-container w3-top w3-black w3-large w3-padding"
		style="z-index: 4">
		<button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey"
			onclick="w3_open();">
			<i class="fa fa-bars"></i> Menu
		</button>
		<a th:href="@{/app/home}"><span class="w3-right">PokeClean <span
				class="w3-badge w3-red">BETA</span></span></a>
	</div>

	<!-- Sidenav/menu -->
	<nav class="w3-sidenav w3-collapse w3-white w3-animate-left"
		style="z-index: 3; width: 300px;" id="mySidenav">
		<br />
		<div class="w3-container w3-row">
			<div class="w3-col s4">
				<img th:src="@{/img/logo.gif}" class="w3-circle w3-margin-right"
					style="width: 46px" />
			</div>
			<div class="w3-col s8">
				<span>Welcome, <strong th:text="${session.PokeClean.playerProfile.playerData.username}">Nickname</strong> <span
				class="w3-badge" th:text="${session.PokeClean.playerProfile.stats.level}">21</span></span><br /> <br />
			</div>
		</div>
		<br />
		<div style="border: 1px solid black;">
			<div class="w3-container">
				<h5>Menu</h5>
			</div>
			<a href="#"
				class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
				onclick="w3_close()" title="close menu"><i
				class="fa fa-remove fa-fw"></i> Close Menu</a> <a
				th:href="@{/app/pokemon}" class="w3-padding w3-green"><span
				class="w3-badge" th:text="${#lists.size(session.PokeClean.inventories.pokebank.pokemons)}">50</span> <i>Pok&eacute;mon</i></a> <a
				th:href="@{/app/items}" class="w3-padding w3-blue"><span
				class="w3-badge" th:text="${session.PokeClean.inventories.itemBag.itemsCount}">52</span> <i>Items</i></a> <a th:href="@{/logout}"
				class="w3-padding w3-black"><i class="fa fa-sign-out"></i> Sign
				out</a>
		</div>
	</nav>

	<!-- Overlay effect when opening sidenav on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity"
		onclick="w3_close()" style="cursor: pointer" title="close side menu"
		id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left: 300px; margin-top: 43px;">

		<div layout:fragment="content" class="bs-docs-section" id="main"
			role="main"></div>

		<br />
		<div data-widget="plista_widget_standard_1"></div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-grey">
			<h4>PokeClean</h4>
			<p>
				&#169; 2016 by PokeClean. ALL RIGHTS RESERVED. <br /> 
				<br /> Thanks to <a class="white-text"
					href="https://github.com/Grover-c13/PokeGOAPI-Java" target="_blank">PokeGOAPI-Java</a>
				&amp; <a class="white-text"
					href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
				&amp; <a href="https://icons8.com" target="_blank">Icons8</a>.
			</p>
		</footer>
	</div>
	<!-- !PAGE CONTENT! -->

	<script type="text/javascript" charset="utf8"
		src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#example').DataTable({
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				"pageLength": 50,
				"pagingType": "full_numbers",
				"aoColumnDefs" : [ {
					'bSortable' : false,
					'aTargets' : [ 'nosort' ]
				}, {
					'bSearchable' : false,
					'aTargets' : [ 'nosort' ]
				} ]
			});
		});
	</script>
	<script>
		// Get the Sidenav
		var mySidenav = document.getElementById("mySidenav");

		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");

		// Toggle between showing and hiding the sidenav, and add overlay effect
		function w3_open() {
			if (mySidenav.style.display === 'block') {
				mySidenav.style.display = 'none';
				overlayBg.style.display = "none";
			} else {
				mySidenav.style.display = 'block';
				overlayBg.style.display = "block";
			}
		}

		// Close the sidenav with the close button
		function w3_close() {
			mySidenav.style.display = "none";
			overlayBg.style.display = "none";
		}
	</script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41119278-7', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
		if (!window.PLISTA) {
			window.PLISTA = {
				publickey : 'd924757c2292f4812eca6b9a',
				item : {
					objectid : '1137092b50', //unique ID, alphanumeric
					title : 'Lorem ipsum', //max 255 characters
					text : 'dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.', //max 255 characters
					url : 'http://example.net/newsticker/artikel.html', //max 1024 characters
					img : 'http://example.net/images/artImg_1137092b50.jpg', //max 255 characters
					category : 'News',
					created_at : 1400000000
				//UNIX timestamp
				},
				categories : [ 'Sport', 'Auto', 'Unterhaltung' ]
			//optional: additional categories
			};
			(function() {
				var n = 'script', d = document, s = d.createElement(n), s0 = d
						.getElementsByTagName(n)[0];
				s.async = 'async';
				s.type = 'text/javascript';
				s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:')
						+ '//static.plista.com/async.js';
				s0.parentNode.insertBefore(s, s0)
			}());
		}
</script>
</body>
</html>

