<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	layout:decorator="pogoclean/layouts/application">
<title>PokeClean - CLEAN UP YOUR POK&Eacute;MON</title>
<body>

	<div layout:fragment="content">

		<!-- Header -->
		<header class="w3-container" style="padding-top: 22px"></header>
		<div class="w3-row-padding w3-margin-bottom">
		<div th:if="${success}" th:text="${success}" class="w3-container w3-green w3-round"></div>
		<div th:if="${error}" th:text="${error}" class="w3-container w3-red w3-round"></div>
		<div class="w3-center">
		<h2><img th:src="'https://pokeapi.co/media/sprites/pokemon/' + ${poke.pokemonId.number} + '.png'" style="width: 10%; vertical-align: middle;" class="w3-circle" /> <span th:text="${poke.pokemonId}"> Pok&eacute;mon </span> <img th:src="'https://pokeapi.co/media/sprites/pokemon/' + ${poke.pokemonId.number} + '.png'" style="width: 10%; vertical-align: middle;" class="w3-circle" /></h2>
		<div th:text="${poke.pokemonId.number}" id="pokemonId" style="display: none;"></div>
		</div>	
		<h3 class="w3-center">Select the Pokemon that you want to transfer.</h3>
			<br/>
			<table id="example" class="table table-striped table-bordered"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Nickname</th>
						<th>CP</th>
						<th>Weight (kg)</th>
						<th>Height (m)</th>
						<th>Iv Score (%)</th>
						<th>Favorite</th>
						<th class="nosort" style="display: none;">Id</th>
					</tr>
				</thead>
				<tr valign="middle" th:each="pokemon : ${sortedList.pokemonList}">
					<td style="vertical-align: middle;" th:text="${pokemon.Nickname}">Rudi</td>
					<td style="vertical-align: middle;" th:text="${pokemon.cp}">56</td>
					<td style="vertical-align: middle;" th:text="${pokemon.weightKg}">6.4</td>
					<td style="vertical-align: middle;" th:text="${pokemon.heightM}">0.45</td>
					<td style="vertical-align: middle;" th:text="${pokemon.IvRatio * 100}">0.45</td>
					<td style="vertical-align: middle;" th:text="${pokemon.favorite}">true</td>
					<td style="vertical-align: middle; display: none;" th:text="${pokemon.Id}" id="nr"></td>
				</tr>
			</table>
			<button id="transfer" onclick="document.getElementById('id01').style.display='block'" class="w3-btn-block w3-orange w3-middle w3-large">TRANSFER</button>			
	
			<div id="id01" class="w3-modal">
  	<div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center">
      <br/>
      <h3 class="w3-margin-top">Are you sure you want to transfer all selected Pokemon?</h3>
      <p>This will take a while. Please wait until the website has been reloaded.</p>
<!--       You will be notified when the process was completed. -->
    </div>
    <div class="w3-container">
      <div class="w3-section" id="poks">
        <!-- jquery -->
        <button class="w3-btn-block w3-green w3-section" id="btnYes" onclick="document.getElementById('id01').style.display='none'">Yes</button>
        <button id="btnNo" onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn-block w3-red">No</button>
      </div>
    </div>
  </div>
	</div>
	</div>
	</div>
</body>
</html>